{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>

<body class="container-fluid p-0 m-0">

     <!--<div class="row flex-grow-1 m-0 h-100 overflow-hidden">-->
     <div class = "d-flex flex-column flex-lg-row vh-100">
        
        <div class="d-flex flex-column bg-white border-end p-3 w-100 w-lg-25 section" id = "referenceColumn">
            <h2 style="text-align: center;">REFERENSER</h2>
            <p style="color:gray; text-align: center;">Klicka på referensnummret för att derigeras till en PDF med aktuell riktlinje från Västra Götalandsregionen.</p>
            <div id="references" class="flex-grow-1 overflow-auto whitespace-pre-wrap"></div>
        </div>
  
       <div class="d-flex flex-column bg-secondary text-white w-100 w-lg-75 section">
          <div class="flex-grow-1 overflow-auto p-3" id="chatScroll">
            <div class="chat">
                <div class ="message incoming">
                    <p>
                        Välkommen till Digital Doktor. 
                        <br><br>Jag ska försöka svara på dina medecinska frågor baserat på VGR riktlinjerna.
                        <br><br> VIKTIGT! Tänk på att jag kan svara fel, dubbelkolla alltid svaren!. Referenserna visar alla riktlinjer som svaret baserats på.
                    </p>
                </div>
            </div>
        </div>
  
            <form method="post" id="promptForm" class="p-3 bg-secondary">
                <div class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-10">
                         <textarea class="form-control" id="prompt" name="prompt" rows="5" placeholder="Skriv prompt här..."></textarea>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <button class="btn btn-primary w-100" type="submit">Skicka</button>
                        </div>
                    </div>
                    <p class="text-white-50 small mb-0">VIKTIGT! Tänk på att jag kan svara fel, dubbelkolla alltid svaren!</p>
                </div>
           </form>
        </div>
  
      </div>
  
</body>

<script>
 
    const createChatDiv = (message, className) => {
            const chatDiv = document.createElement("div");
            chatDiv.classList.add("message", className);
            chatDiv.innerHTML = `<p>${message}</p>`;
            return chatDiv;
        }
    document.getElementById('promptForm').addEventListener('submit', function(e) {
        const chatbox = document.querySelector('.chat');
        const promptInput = document.getElementById('prompt');
        const promptText = promptInput.value;

      e.preventDefault();
      const formData = new FormData(this);
      // always use RAG in this UI
      formData.set('use_rag', true)
    try {
        chatbox.appendChild(createChatDiv(promptText,"outgoing"));
        } catch (error) {
            console.error(error);
            }
      
      fetch('{% url "test" %}', {
        method: 'POST',
        body: formData,
        headers: {
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': formData.get('csrfmiddlewaretoken')
        }
      })
      .then(response => response.json())
      .then(data => {
        // the references

        // set references in te reference list to clickable (the [i], should take you to the URL)
        const refDiv = document.getElementById('references');
        refDiv.textContent = data.response.references; 
        makeReferencesClickable();

        //the caht responce to the question
        try {
        chatbox.appendChild(createChatDiv(data.response.content,"incoming"));
        } catch (error) {
            console.error(error);
            }
      })
      
      .catch(error => {
        console.error('Error:', error);
      });
    });

    //Functions below handle automatic scrolling downwards when new item is added to the chat, it uses observer of the scrollable div
    function scrollToBottom(element) {
        element.scrollTop = element.scrollHeight;
    }

    const chatScroll = document.getElementById('chatScroll');
    const observer = new MutationObserver(() => {
        scrollToBottom(chatScroll);
    });

    observer.observe(chatScroll, {
        childList: true,  
        subtree: true     
    });
    scrollToBottom(chatScroll);


    function makeReferencesClickable() {
        //Make references in referencelist into links for the correct guideline
    const refDiv = document.getElementById('references');
    
    const rawText = refDiv.textContent;
    
    //Find the refernce pattern, and create link around the [i], the rest is not lin (just put the vales of 2 and 3 in the link if you want all)
    const linkedText = rawText.replace(
        /(\[\d+\])([^\n]*\nURL: )([^\n]+)/g,
        '<a href="$3" target="_blank" style="color: inherit; text-decoration: none;">$1</a>$2<br>$3'
    );
    //Update the div to contain links and not just plain text from the responce
    refDiv.innerHTML = linkedText;
}


  </script>

{% endblock %}